<div class="alert-list-container">
  <p-table [columns]="cols" [value]="alerts" [scrollable]="true" [rows]="20" scrollHeight="80vh"
           [virtualScroll]="true" [virtualRowHeight]="50" sortMode="multiple">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="{{col.header}}" *ngFor="let col of columns">
          {{col.header}}
          <p-sortIcon field="{{col.header}}"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData >
      <tr style="height:34px">
        <td>
          {{rowData.alertType}}
        </td>
        <td>
          {{rowData.dateCreated | date: 'medium'}}
        </td>
        <td>
          {{rowData.properties}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
