.nav-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 25px;
  box-shadow: 0 2px 30px 0 rgb(207 207 207 / 50%);
  line-height: 1.8;

  .menu-item {
    margin-left: 32px;
    cursor: pointer;
    font-size: 1.2rem;
    outline: none;
    color: #151521;
  }

  .active-menu-item{
    color: #1F473E;
    font-weight: bold;
    border-bottom: 4px solid #1F473E;
  }

  .brand-logo {
    margin-left: auto;
  }
}
